<section class="border-t border-dashed border-white/15 bg-linear-to-t from-amber-900/20 via-transparent to-transparent text-white py-20">
    <div class="container mx-auto px-6">
        <h2 data-reveal class="text-samana-1 text-xs tracking-[0.4em] uppercase font-mono">
            Nuestro Proceso
        </h2>

        <h3 data-reveal-text class="text-5xl font-bold mt-6 mb-20 tracking-tight">
            Cómo trabajamos tu proyecto.
        </h3>

        <div class="grid md:grid-cols-2 gap-20 reveal-group">
            <!-- Paso 1 -->
            <div class="relative">
                <span class="absolute text-[150px] font-bold text-transparent opacity-10 -top-22"
                style={`-webkit-text-stroke:3px #ffd700;`}
                    >01</span
                >
                <h4 class="text-3xl font-semibold mb-3 border-b border-samana-1/70">Asesoramiento</h4>
                <p class="text-white/90">
                    Analizamos tu idea, espacio y presupuesto para definir el mejor camino.
                </p>
            </div>

            <!-- Paso 2 -->
            <div class="relative">
                <span class="absolute text-[150px] font-bold text-transparent opacity-10 -top-22"
                style={`-webkit-text-stroke:3px #ffd700;`}
                    >02</span
                >
                <h4 class="text-3xl font-semibold mb-3 border-b border-samana-1/70">Planificación</h4>
                <p class="text-white/90">Organización técnica, tiempos, materiales y logística.</p>
            </div>

            <!-- Paso 3 -->
            <div class="relative">
                <span class="absolute text-[150px] font-bold text-transparent opacity-10 -top-22"
                style={`-webkit-text-stroke:3px #ffd700;`}
                    >03</span
                >
                <h4 class="text-3xl font-semibold mb-3 border-b border-samana-1/70">Ejecución</h4>
                <p class="text-white/90">
                    Mano de obra especializada con control de calidad constante.
                </p>
            </div>

            <!-- Paso 4 -->
            <div class="relative">
                <span class="absolute text-[150px] font-bold text-transparent opacity-10 -top-22"
                style={`-webkit-text-stroke:3px #ffd700;`}
                    >04</span
                >
                <h4 class="text-3xl font-semibold mb-3 border-b border-samana-1/70">Entrega Final</h4>
                <p class="text-white/90">Proyecto terminado, funcional y listo para ser vivido.</p>
            </div>
        </div>
    </div>
</section>
