---
import ServiceItem from '../ui/ServiceItem.astro';
---

<section class="py-20 overflow-hidden border-t border-dashed border-white/15  bg-linear-to-b from-amber-900/20 via-transparent to-transparent">
    <div class="container mx-auto px-6">
        <h2
            class="text-samana-1 text-xs tracking-[0.4em] uppercase font-mono"
            data-reveal   
        >
            Experticia
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-10">
            <div class="lg:col-span-4 lg:sticky lg:top-32">
                <h2
                    class="text-4xl md:text-5xl font-serif font-light mt-6 mb-15 tracking-tighter uppercase"
                    data-reveal
                >
                    ¿Qué <br /> hacemos?
                </h2>
                <p class="mt-4 text-neutral-200 text-xl max-w-xs font-light leading-relaxed" data-reveal>
                    Proporcionamos soluciones eficientes y personalizadas, garantizando calidad y
                    durabilidad en cada proyecto.
                </p>
            </div>

            <div class="lg:col-span-7 lg:offset-1">
                <div class="divide-y divide-samana-1/15">
                    <ServiceItem
                        number="01"
                        title="Reformas integrales"
                        description="Asesoramiento, planificación, dirección y ejecución de remodelaciones integrales."
                        href="/servicios/reformas-integrales"
                    />
                    <ServiceItem
                        number="02"
                        title="Venta de materiales"
                        description="Asesoramiento, venta y provisión de materiales con logística propia."
                        href="/servicios/venta-materiales"
                    />
                    <ServiceItem
                        number="03"
                        title="Proyectos inmobiliarios"
                        description="Asesoramiento inmobiliario, búsqueda de inversores y trabajo con desarrolladores."
                        href="/servicios/proyectos-inmobiliarios"
                    />
                    <ServiceItem
                        number="04"
                        title="Diseño y renderizado"
                        description="Asesoramiento en diseño de ambientes y renderizado de proyectos."
                        href="/servicios/diseno-renderizado"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
