---
import ValueItem from '../ui/ValueItem.astro';
---

<section class="container mx-auto py-32">
  <div class="grid sm:grid-cols-3 gap-12">
    <ValueItem number="01" title="Experiencia real">
      Calidad, eficiencia y durabilidad comprobadas en obra.
    </ValueItem>

    <ValueItem number="02" title="Materiales propios">
      Logística propia que optimiza costos y tiempos.
    </ValueItem>

    <ValueItem number="03" title="Acompañamiento total">
      Vos sos el autor. Nosotros te guiamos.
    </ValueItem>
  </div>
</section>
