@import "tailwindcss";

@theme {
  --color-samana-1: #ffd700;
  --color-samana-2: #050505;
  --color-samana-3: #0a0a0a;

  --font-sans: "Inter", "sans-serif";
  --font-serif: "Playfair Display", "serif";
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

.prose-samana h2 {
  font-size: 3rem;
  font-family: serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.prose-samana p {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #9ca3af;
}

.prose-samana img {
  margin: 6rem 0;
  width: 100%;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
