---
import Layout from "../layouts/Layout.astro";
import Samana3d from "../components/core/Samana3d.astro";
import Hero from "../components/sections/home/Hero.astro";
import GalleryProjects from "../components/sections/home/GalleryProjects.astro";
import Philosophy from "../components/sections/home/Philosophy.astro";
import Cycle from "../components/sections/home/Cycle.astro";
import Contact from "../components/sections/home/Contact.astro";

---

<Layout
  title="Samana Transformaciones | Reformas integrales en Buenos Aires"
  description="Empresa especializada en reformas integrales, remodelaciones y construcción de alta gama en Buenos Aires."
  schemaType="home"
>
  <Samana3d />
  <main>
    <Hero />
    <Philosophy />
    <Cycle />
    <GalleryProjects />
    <Contact />
  </main>
</Layout>
