---
import Layout from '../layouts/Layout.astro';
import Samana3d from '../components/core/Samana3d.astro';
import Hero from '../components/sections/home/Hero.astro';
import GalleryProjects from '../components/sections/home/GalleryProjects.astro';
import Philosophy from '../components/sections/home/Philosophy.astro';
import Cycle from '../components/sections/home/Cycle.astro';
import Contact from '../components/sections/home/Contact.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
    title="Samana Transformaciones | Reformas integrales en Buenos Aires"
    description="Empresa especializada en reformas integrales, remodelaciones y construcción de alta gama en Buenos Aires."
    schemaType="home"
>
    <div
        class="fixed inset-0 z-9999 pointer-events-none opacity-[0.04] bg-repeat"
        style="background-image: url('data:image/svg+xml,%3Csvg viewBox=%220 0 200 200%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cfilter id=%22n%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%220.80%22 numOctaves=%224%22 stitchTiles=%22stitch%22/%3E%3C/filter%3E%3Crect width=%22100%25%22 height=%22100%25%22 filter=%22url(%23n)%22/%3E%3C/svg%3E');"
    >
    </div>
    <Samana3d client:idle />
    <main>
        <Hero />
        <Philosophy client:visible />
        <Cycle client:visible />
        <GalleryProjects client:visible />
        <Contact client:visible />
    </main>
</Layout>
