---
import Layout from '../layouts/Layout.astro';
import Samana3d from '../components/core/Samana3d.astro';
import Hero from '../components/sections/home/Hero.astro';
import GalleryProjects from '../components/sections/home/GalleryProjects.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
    title="Samana Transformaciones | Reformas integrales en Buenos Aires"
    description="Empresa especializada en reformas integrales, remodelaciones y construcción de alta gama en Buenos Aires."
    schemaType="home"
>
    <Samana3d />
    <main>
        <Hero />
        <GalleryProjects />
    </main>
</Layout>
