---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Sobre Nosotros">
    <div class="h-screen flex flex-col items-center justify-center text-center p-4">
        <h1 class="text-[rgb(255,215,0)] text-6xl font-playfair mb-4">Sobre Nosotros</h1>
        <p class="text-xl mb-8">Somos una empresa especializada en reformas integrales, remodelaciones y construcción de alta gama en Buenos Aires.</p>
    </div>
</Layout>