---
import AboutHero from '../components/sections/about/AboutHero.astro';
import Layout from '../layouts/Layout.astro';
import WhoWeAre from '../components/sections/about/WhoWeAre.astro';
import Services from '../components/shared/Services.astro';
import FinalCTA from '../components/shared/FinalCTA.astro';
import Values from '../components/shared/Values.astro';
import MeetTheTeam from '../components/sections/about/MeetTheTeam.astro';
---

<Layout
  title="Nosotros | Samana Transformaciones — Reformas de Alta Gama en Buenos Aires"
  description="Conocé al equipo de Samana Transformaciones. Especialistas en reformas integrales, construcción y diseño de alta gama en Buenos Aires con compromiso y calidad."
>
    <section class="bg-black text-white pt-24 overflow-hidden">
        <AboutHero />
        <WhoWeAre />
        <Services />
        <Values />
        <MeetTheTeam/>
        <FinalCTA />
    </section>
</Layout>
